<main>

    {{!-- Formulário --}}

    <div class="container">
        <div class="col-6 offset-3">
            <form action = "/cadastrar" method="post">
                <input type="text" name="nome" class="form-control" placeholder="Nome do Produto">
                <input type="number" name="valor" class="form-control" placeholder="Valor do Produto">
                <input type="submit" class="btn btn-primary"  value="Cadastrar">
            </form>
        </div>
    </div>


</main>